@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin :0;
  padding: 0;
  font-family:  'Gloria Hallelujah', cursive;
  background: url(../static/images/login3.jpg) ;
  background-size: cover;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  font-family:  'Gloria Hallelujah', cursive;
  border-bottom: 6px solid #FF7F50;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  font-family:  'Gloria Hallelujah', cursive;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #FF7F50;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;

}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  font-family:  'Gloria Hallelujah', cursive;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid #FF7F50;
  color: white;
  padding: 5px;
  font-size: 18px;
  font-family:  'Gloria Hallelujah', cursive;
  cursor: pointer;
  margin: 12px 0;
}
